body {
  box-sizing: border-box;
  border-top: 5px solid #9b51e0;
  font-family: "Roboto", sans-serif;
}
.conteiner {
  width: 1260px;
  margin: 0 auto;
}

/* LOGOTIP */

.logo {
  left: 11.7%;
  display: inline-block;
  position: relative;
  height: 50px;
  width: 170px;
}

.number1 {
  text-align: left;
  position: absolute;
  background: #fff;
  font-size: 24px;
  left: 25px;
  top: 25%;
}
.number2 {
  background: #fff;
  border: 3px solid #ffc740;
  width: 50px;
  height: 48px;
}

/* SEARCHER */

.header {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
}

.form-wrapper {
  margin-left: 761px;
  display: inline-block;
  width: 201px;
}

.form-wrapper input {
  float: left;
  width: 154px;
  height: 33px;
  border: 1px solid #6d3d99;
}

.form-wrapper button {
  color: #fff;
  float: left;
  background: #9b51e0;
  border: 1px solid #6d3d99;
  width: 42px;
  height: 37px;
}

/* MENU */

.menu {
  margin-left: 10px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}

.button {
  display: inline-block;
  background: #fff;
  border-radius: 1px;
  margin-right: 0;
}

.menu a {
  display: block;
  margin-right: 0;
  color: #050505;
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  background: #ffc740;
  color: #fff;
  border-radius: 1px;
  transition: background 1s, color 1s;
}

.menu_element-1 {
  background: #fff;
  padding: 16px 42px 14px 41px;
  border-radius: 1px;
  margin: 0;
}

.menu_element-2 {
  background: #fff;
  padding: 16px 28px 14px 28px;
  border-radius: 1px;
  margin: 0;
}
.menu_element-3 {
  background: #fff;
  padding: 16px 35px 14px 33px;
  border-radius: 1px;
  margin: 0;
}
.menu_element-4 {
  background: #fff;
  padding: 16px 28px 14px 26px;
  border-radius: 1px;
  margin: 0;
}
.menu_element-5 {
  background: #fff;
  padding: 16px 21px 14px 20px;
  border-radius: 1px;
  margin: 0;
}
.menu_element-6 {
  background: #fff;
  padding: 16px 31px 14px 31px;
  border-radius: 1px;
  margin: 0;
}
.menu_element-7 {
  background: #fff;
  padding: 16px 32px 14px 31px;
  border-radius: 1px;
  margin: 0;
}

.menu_element-8 {
  background: #fff;
  padding: 16px 12px 14px 27px;
  border-radius: 1px;
  margin: 0;
}

/* POST */

.post {
  margin: 0 auto;
  width: 100%;
  top: 10px;
  left: 148px;
  position: relative;
}

.post img {
  width: 984px;
}

.post h1 {
  line-height: 75px;
  padding: 0;
  margin: 0;
  color: #ffc740;
  font-weight: normal;
  font-size: 64px;
  position: absolute;
  top: 21px;
  left: 44px;
  width: 39%;
}

.post p {
  line-height: 16px;
  padding: 0;
  margin: 0;
  width: 36%;
  color: #fff;
  font-weight: normal;
  position: absolute;
  top: 178px;
  left: 44px;
  font-size: 14px;
}

.post button {
  border: 1px solid #6d3d99;
  width: 125px;
  height: 34px;
  background: #6d3d99;
  top: 267px;
  left: 45px;
  position: absolute;
  margin: 0 20px 0 0;
}

.post button a {
  color: #fff;
  font-size: 14px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

/* TWO COLUMNS */

.cards {
  margin-left: 159px;
  width: 80%;
}

.card {
  display: inline-block;
  font-size: 12px;
  width: 49%;
}

.title {
  padding-top: 30px;
  padding-bottom: 13px;
}

.title-1 {
  position: relative;
  width: 92%;
  border: 8px solid #6d3d99;
}

.title-2 {
  background: #ffc740;
  position: relative;
  width: 92%;
  border: 8px solid #ffc740;
}

.title-3 {
  height: 0;
  position: relative;
  width: 94%;
  border: 8px solid #ffc740;
}

.title-4 {
  height: 0;
  position: relative;
  width: 95%;
  border: 8px solid #6d3d99;
}

.title-1_span {
  display: block;
  background: #fff;
  top: -8px;
  left: 10px;
  position: absolute;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-left: 6px;
  padding-right: 6px;
}

.title-2_span {
  display: block;
  background: #fff;
  top: -8px;
  left: 10px;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 6px;
  padding-right: 6px;
}

.height_image {
  border: 2px solid #ffc740;
  padding: 2px;
}
.card_image {
  display: inline-block;
  margin-right: 18px;
}

.text_card {
  display: inline-block;
  width: 299px;
  text-align: justify;
}

.text_card p {
  margin: 0;
  padding: 0;
}

/* THREE COLUMNS */

.three_cards {
  width: 100%;
  margin-left: 161px;
}

.three_card {
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  width: 24.5%;
}

.text_three {
  padding-right: 0;
  font-size: 12px;
  display: inline-block;
  width: 299px;
  text-align: justify;
}

.text_three p {
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.white {
  font-size: 16px;
  position: relative;
  left: 16px;
  border: 4px solid #fff;
  background-color: #fff;
  color: #000;
  background: #fff;
  height: 17px;
}

.list {
  width: 100%;
}

.img_three {
  width: 15%;
  display: inline-block;
}

.list .list-item p {
  padding: 0;
  margin: 0;
}

.texta {
  text-align: justify;
  margin-bottom: 1px;
  width: 84%;
  display: inline-block;
}

.three {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 12px;
  width: 32%;
}
.list-item {
  margin-bottom: 6px;
}

.color {
  margin-bottom: 10px;
  bottom: 35px;
  width: 86.5%;
  background: #6d3d99;
  height: 17px;
  margin-bottom: 0;
}

.box {
  font-size: 16px;
  position: relative;
  left: 16px;
  border: 4px solid #fff;
  background-color: #fff;
  color: #000;
  background: #fff;
  height: 17px;
}

.fig {
  width: 82%;
  margin-left: 160px;
}

.line {
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 240px;
}

.line img {
  padding: 0 12px;
}

.line :nth-child(2) {
  margin-bottom: -4px;
}

.line :nth-child(3) {
  margin-bottom: 4px;
}
.line :nth-child(5) {
  margin-bottom: 7px;
}

/* FOOTER */

.footer {
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
  padding-top: 50px;
  padding-bottom: 49px;
  background-color: #6d3d99;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
}
