body{
border-top: 5px solid #9B51E0;
font-family: 'Roboto', sans-serif;
}
.conteiner{
width: 1260px;
margin: 0 auto;
}

/* LOGOTIP */


.number1{
  position: relative;
left: 90.1%;
top: 22px;
background: #fff;
font-size: 24px;
z-index: 2;
}
.number2{
  position: relative;
left: 3%;
top: 30px;
background: #fff;
border: 3px solid #FFC740;
width: 50px;
height: 48px;
z-index: 1;
}

/* SEARCHER */
.logo{
display: inline-block;
}

.header{
padding: 0;
width: 79%;
margin-left: 0;
display: inline-block;
margin-top: 0;
}

.form-wrapper{
left: 95%;
top: -17px;
position: relative;
width: 215px;
}

.form-wrapper input{
float: left;
width: 154px;
height: 33px;
border: 1px solid #6D3D99;
}

.form-wrapper button{
color: #fff;
position: relative;
float: left;
background: #9B51E0;
border: 1px solid #6D3D99;
width: 42px;
height: 37px;
}

/* MENU */

.menu{
margin-bottom: 5px;
margin-left: 110px; 
width: 100%;
list-style: none;
}

.button{   
display: inline-block;
background: #fff;
border-radius: 1px;
width: 123px;
text-align: center;
line-height: 47px;
margin-right: 0;
}

.menu a{
color: #000;
display: block;
height: 47px;
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
}

.menu a:hover{
background: #FFC740;
color: #fff;
border-radius: 1px;
transition: background 1s, color 1s;
}


.last{
background: #fff;
border-radius: 1px;
width: 123px;
text-align: center;
line-height: 47px;
margin-right: 0;
width: 106px;
}

/* POST */

.image{
top:10px;
left: 148.7px;
position: relative;
}
    
.image h1{
color: #FFC740;
font-weight: normal;
font-size: 64px;
position	: absolute;
top: -23px;
left: 44px;
width: 100%
  } 
  
.image p{
color: #fff;
font-weight: normal;
position: absolute;
top:171px;
left: 44px;
font-size: 14px;
  }

.image button{
border: 1px solid #6D3D99;
width: 125px;
height: 34px;
background: #6D3D99;
top: 277px;
left: 45px;
position: absolute;
margin: 0 20px 0 0;
}

.image button a{
color: #fff;
font-size: 14px;
display: block;
text-decoration: none;
text-transform: uppercase;
}
   

/* TWO COLUMNS */


.cards {
padding-left: 186px;
padding-top: 30px;
padding-right: 147px;
}
  
.card{
margin-bottom: 40px;
display: inline-block;
font-size: 12px;
width: 49%;
}
 
.card:nth-child(2n-1) {
margin-right: 14px;
}

.purple {
width: 96%;
background: #6D3D99;
height: 16px;
margin-left: 0;
padding-right: 20px;
margin-bottom: 15px;
}

.white{
font-size: 16px;
position: relative;
left: 16px;
border: 4px solid #fff;
background-color: #fff;
color: #000;
background: #fff;
height: 17px;
}

.yellow{
margin-left: 0;
bottom: 35px;
width: 100%;
background: #FFC740;
height: 17px;
margin-bottom: 15px;
}

.card_image{  
margin-top: -1px;
margin-left: 0;
display: inline-block;
margin-right: 22px;
border: 2px solid #FFC740;
padding: 2px;
width: 30.7%;
height: 141px;
vertical-align: top;
}

.text_card{
display: inline-block;
width: 62%;
text-align: justify;
}

.text_card p {
margin: 0;
padding: 0;
}


/* THREE COLUMNS */


.three_cards{
margin-right: 0;
margin-left: 0;
padding-left: 187px;
padding-top: 11px;
padding-right: 147px;
}

.three_card{
margin-bottom: 40px;
display: inline-block;
font-size: 12px;
width: 32%;
}
   
.text_three{
padding-right: 0;
font-size: 12px;
display: inline-block;
width: 100%;
text-align: justify;
}
    
.text_three p {

margin: 0;
padding: 0;
}

.white{
font-size: 16px;
position: relative;
left: 16px;
border: 4px solid #fff;
background-color: #fff;
color: #000;
background: #fff;
height: 17px;
}
  
 .yell{
bottom: 35px;
width: 100%;
background: #FFC740;
height: 17px;
margin-bottom: 15px;
  }

.purp {
width: 95%;
background: #6D3D99;
height: 16px;
padding-right: 20px;
margin-bottom: 15px;
}


.list {
width:100%;
}

.img_three{
width: 15%;
display: inline-block;
}

.list .list-item p{
padding: 0;
margin: 0;
}

.texta{
  text-align: justify;
  margin-bottom: 1px;
  width: 84%;
  display: inline-block;
}

.three{
margin-bottom: 30px;
display: inline-block;
font-size: 12px;
width: 32%;
  }
.list-item {
margin-bottom: 6px;
  }

.three_card:first-child,
.three {
margin-right: 14px;
}


.color{
margin-bottom: 10px;
bottom: 35px;
width: 86.5%;
background: #6D3D99;
height: 17px;
margin-bottom: 0;

}

.box{
font-size: 16px;
position: relative;
left: 16px;
border: 4px solid #fff;
background-color: #fff;
color: #000;
background: #fff;
height: 17px;
}

.fig{
margin-left: 187px;
}



.line{
margin-top:30px;
margin-bottom: 25px;
margin-left: 240px;
}

.line img{
  padding: 0 12px;
}

.line :nth-child(2){
  margin-bottom: -4px;
}

.line :nth-child(3){
  margin-bottom: 4px;
}
.line :nth-child(5){
  margin-bottom: 7px;
}



/* FOOTER */

.footer{
font-size: 14px;
line-height: 16px;
margin-top: 3px;
padding-top: 50px;
padding-bottom: 49px;
background-color: #6D3D99;
color:white;
width: 100%;
display: inline-block;
text-align: center;
}